@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.prose h1 {
    @apply font-light;
}    


/* media elements */
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

/* main template */
.contentWrapper {
    width:100%;
}
#utilityNav {
    width:100%;
    min-width:350px;
    max-width:fit-content;
}
.utilityNav__heading {
    width:auto;
    max-width:fit-content;
}
.utilityNav__heading:before {
    background:#fff;
    opacity:.25;
    width:25vw;
    position:absolute;
    content:'';
    text-align:right;
    top:0;
    left:-25vw;
    height:100%;
}
.utilityNav__menu a {
    padding-left:0;      
    position:relative;
    overflow:hidden;
    color:#4B5563;
    display:block;
}
.utilityNav__menu a:hover, .utilityNav__menu a.active {
    color: #111827;
}
.utilityNav__menu a.active:before {        
    display: inline-block;
    content: "";
    border-top: 2px solid #111827;                
    margin: 0;
    transform: translateY(10px);
    position:absolute;
    width:425%;
    right:120%;
    opacity:0.5;
}
.utilityNav__menu a.active .extender {                
    display: inline-block;
    content: "";
    border-top: 2px solid #111827;                  
    margin: 0 0 0 15px;
    transform: translateY(10px);
    position:absolute;
    width:100%;
    left:auto;   
    opacity:.5;     
}
@media (min-width: 1280px) {  /* xl breakpoint */
    .contentWrapper {        
        max-width:95vw;
    }
}


/* book browser */

#bookBrowser .swiper-slide {
    width: 100%;
    max-width: 12vw;
    height: calc(100% - 50px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    color: #111827;    
    padding: 0px;
    margin-left: -1%;
    margin-right: -1%;
}
#bookBrowser .swiper-slide div {
    width: inherit;
    height: inherit;
}
#bookBrowser .swiper-slide .book-meta {
    visibility: hidden;
}
#bookBrowser .swiper-slide-active .book-meta {
    visibility: visible;
}
#bookBrowser .swiper-slide-active {
    max-width:15vw;
    z-index:10;
}
#bookBrowser .book-meta {
    margin-top:40px;
    position: relative;
    left:-5vw;
    width:50vw !important;
    text-align: left;
}
#bookBrowser .description p {
    margin-bottom: 0.5rem;
    font-weight:400;
}
#bookBrowser .releaseDate {
    margin-bottom: 20px;
}